<html>
<head>
    <title>The Best Server Ever</title>
</head>
<body>

    <p>To continue, please register your profile in the system:</p>
    <!-- Login form -->
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
